nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    display: inline-block;
}

.navbar-default {
    background-color: rgba(255,255,255, 0);
    border-color: white;
}

.transparent {
  background-color: rgba(255,255,255, 0);
}



.logo-image{
    width: 140px;
    height: 100px;
    overflow: hidden;
    margin-top: -6px;
}

.nav-image{
    height: 40px;
}

.img-fluid{
    height: 60px;
}

.button-image{
    width: 60px;
    height: 60px;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}

body {
   background-image: url("bckg_4.png");
   background-color: #cccccc;
   background-position: center;
}

head{
    background-color: black;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/*  for left and right alignment on the same line */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited
{
    background-color: #A2AFBD !important;
}

td{
    color:white;
}