nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    display: inline-block;

}

.navbar-default {
    background-color: rgba(0,0,0, 0);
    border-color: white;
}

.transparent {
  background-color: rgba(0,0,0, 0);
  border:none;

}

.semi-transparent {
  background-color: rgba(20,20,20, 0.5);
}

.logo-image{
    width: 140px;
    height: 100px;
    overflow: hidden;
    margin-top: -6px;
}


.img-fluid{
    height: 36px;
}

.img-fluid-navbar{
    height: 40px;
    margin: -4px 0px;
}

.img-fluid-about{
    height: 80px;
}

.img-fluid-about-footer{
    height: 30px;
}


.img-fluid-calc{
    height: 48px;
}


.img-fluid-help-small{
    height: 30px;
}

.img-fluid-help-big{
    width: 42px;
    margin: 4px 0px;
}


.button-image{
    width: 100px;
    border: none !important;
    background: none;
}

.button-add{
    width: 20px;
}

/* used for delete button */
.delete-button{
    border: none;
    background: none;
    width: 40px;
}



main .form-control
{
    /* center form controls*/
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size:20px;

}

body {
   background-image: url("bckg_5.png");
   background-position: center;

}

 /* next three things are needed to make footer to ba at place*/
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}



main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited
{
    background-color: rgba(0,0,0, 0);
    color: white;
    border-color: yellow;
}

.btn-primary-welcome
{
    background-color: rgba(139,37, 152, 100);
    color: white;
    border-color: yellow;
}


td{
    color:white;
    font-size:16px;
}

input{
    padding:5px;
    border-radius:10px;
  }

p{
    float:left;
    color:white;
    font-size:16px;
}

h5{
    float:left;
}


.table-no-border>tbody>tr>td
{
  border-top: none; /* to delete line between row*/
}

.table-no-border>thead>tr>td
{
  border-top: none; /* to delete line between row*/
  color: black;
}


.progress>div {
  background-color: gray;
  width: 40%;
  /* Adjust with JavaScript */

}

