{% if logged == 1 %}
        {% extends "layout.html" %}
{% else %}
        {% extends "layout_empty.html" %}
{% endif %}

{% block title  %}
        help
{% endblock %}

{% block main %}

        <h3>distribute your income wisely by a few simple steps with EasyBreezy :</h3>
        <br>
        <p>1. Fill in your income and update, if necessary, monthly expenses and current value of your accounts.</p>

        <p>2. EasyBreezy distributes your money using its algorithm. </p>
        <p>3. (optional) You can correct payments by hand, if needed, and save all results in history, if you want. </p>

        <br><br>
        <h3>How algorithm distributes money.</h3>


        <br><br>
        <h5>Contact</h5>


{% endblock %}