{% extends "layout.html" %}

{% block title  %}
        history
{% endblock %}

{% block main %}


<table class="table">
    <colgroup>
        <col span="2" style="background-color:white">
            {%  for name in expenses %}
                <col style="background-color:#CCFFFF">
            {%  endfor %}

            {%  for name in savings %}
                <col style="background-color:#FFFFCC">
            {%  endfor %}

            {%  for name in goals %}
                <col style="background-color:#D3D3D3">
            {%  endfor%}

    </colgroup>

    <thead>
        <tr>
            <td>date</td>
            <td>income</td>
            {%  for name in expenses %}
                <td>{{ name }}</td>
            {%  endfor%}

            {%  for name in savings %}
                <td>{{ name }}</td>
            {%  endfor%}

            {%  for name in goals %}
                <td>{{ name }}</td>
            {%  endfor%}


    </thead>
    <tbody>
        {% for date in history %}
            <tr>
                <td>{{date}}</td>
                <td>{{history[date]['salary']}}</td>
                {%  for name in expenses %}
                    {% if name in history[date] %}
                        <td> {{ history[date][name]['value'] }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {%  endfor%}

                {%  for name in savings %}
                    {% if name in history[date] %}
                        <td>{{ history[date][name]['value'] }} ( +{{ history[date][name]['to_pay'] }})</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {%  endfor%}

                {%  for name in goals %}
                    {% if name in history[date] %}
                        <td>{{ history[date][name]['value'] }} ( +{{ history[date][name]['to_pay'] }})</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {%  endfor%}


            </tr>
        {% endfor %}

    </tbody>



</table>
{% endblock %}