{% extends "layout.html" %}

{% block title  %}
        history
{% endblock %}

{% block main %}

<div style="display:none;" class="togg">
    <div class="container" style="background-color:rgb(0,0,0,0); border:none !important;">
      <span class="row">

          <div class="col-sm" style="font-size:20px;">
              <input id="term1" type="number" min="-9999999999" max="9999999999" value="1" class="easycalc">
          </div>

          <div class="col-sm" style="font-size:20px;">
              <input id="term2" type="number" min="-9999999999" max="9999999999" value="1" class="easycalc">
          </div>

          <div class="col-sm" >
            <div class="btn-group" role="group" aria-label="Basic example">
              <button name="operation" type="button" class="btn btn-secondary" value="plus">+</button>
              <button name="operation" type="button" class="btn btn-secondary" value="minus">-</button>
              <button name="operation" type="button" class="btn btn-secondary" value="multipl">x</button>
                <button name="operation" type="button" class="btn btn-secondary" value="divide">/</button>
            </div>
          </div>

          <div class="col-sm" style="color:white; font-size: 30px; float:right;"> = </div>

          <div class="col-sm" style="color:white; font-size: 30px;">
              <span id="easycalcresult"> 2 </span>
          </div>
      </span>
    </div>
<br>
</div>


<!--help-->
<div class="comment" style="display:none; ">
    <div class="container" style="background-color:rgb(250,250,250,0);">
      <span class="row">
         <div class="col-md-1">
            <div class="nav-image" style="float: left;">
            <img src="/static/comment_question.png" class="img-fluid-help">
            </div>
         </div>

          <div class="col-md-11">
            <span style="padding:5px;">
                <p>History is shown only for actual accounts. </p>
            </span>
          </div>
      </span>
    </div>
</div>

<br>

<table class="table">
    <thead >
        <tr>
            <td>date</td>
            <td>income</td>
            {%  for name in expenses %}
                <td>{{ name }}</td>
            {%  endfor%}

            {%  for name in savings %}
                <td>{{ name }}</td>
            {%  endfor%}

            {%  for name in goals %}
                <td>{{ name }}</td>
            {%  endfor%}


    </thead>
    <tbody>
        {% for date in history %}
            <tr>
                <td>{{date}}</td>
                <td>{{"{:,.2f}".format(history[date]['salary']).replace(",", " ") }}</td>
                {%  for name in expenses %}
                    {% if name in history[date] %}
                        <td> {{ "{:,.2f}".format(history[date][name]['value']).replace(",", " ") }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {%  endfor%}

                {%  for name in savings %}
                    {% if name in history[date] %}
                        <td>{{ "{:,.2f}".format(history[date][name]['value']).replace(",", " ") }} (+{{ "{:,.2f}".format(history[date][name]['to_pay']).replace(",", " ") }})</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {%  endfor%}

                {%  for name in goals %}
                    {% if name in history[date] %}
                        <td>{{ "{:,.2f}".format(history[date][name]['value']).replace(",", " ") }} (+{{ "{:,.2f}".format(history[date][name]['to_pay']).replace(",", " ") }})</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {%  endfor%}


            </tr>
        {% endfor %}

    </tbody>



</table>

<script>

    <!--easy calculator-->
    var button = document.getElementsByName("operation");

    for (var i = 0; i < button.length; i++)
    {
        button[i].addEventListener("click", function()
        {
            var term1 = 1 * document.getElementById("term1").value ;
            var term2 = 1 * document.getElementById("term2").value ;

             if ( this.value == 'plus')
             { document.querySelector('#easycalcresult').innerHTML = term1 + term2; }

             else if ( this.value == 'minus')
             { document.querySelector('#easycalcresult').innerHTML = term1 - term2; }

             else if ( this.value == 'multipl')
             { document.querySelector('#easycalcresult').innerHTML = term1 * term2; }

             else if ( this.value == 'divide')
             { document.querySelector('#easycalcresult').innerHTML = term1 / term2; }
        })
    }

<!--to show hided-->
    $(document).ready(function()
    {
      $("#toggle").click(function()
      {
        $(".togg").toggle();
      });

    $("#toggle_help").click(function()
      {
        $(".comment").toggle();
      });

    });

</script>
{% endblock %}