{% extends "layout.html" %}

{% block title  %}
        history
{% endblock %}

{% block main %}


<table class="table">
    <colgroup>
        <col span="2" style="background-color:white">
        {%  for name in expenses_list %}
            <col style="background-color:#CCFFFF">
        {%  endfor%}
        {%  for name in savings_list %}
            <col style="background-color:#FFFFCC">
        {%  endfor%}

    </colgroup>

    <thead>
        <tr>
            <td>date</td>
            <td>income</td>
            {%  for name in expenses_list %}
                <td>{{name}}</td>
            {%  endfor%}
            {%  for name in savings_list %}
                <td>{{name}}</td>
            {%  endfor%}
        </tr>

    </thead>
    <tbody>
        {% for date in history %}
            <tr>
                <td>{{date}}</td>
                <td>{{history[date]['salary']}}</td>
                {%  for name in expenses_list %}
                    <td>{{history[date][name]}}</td>
                {%  endfor%}

                {%  for name in savings_list %}
                    <td>{{history[date][name]['to_pay']}} ({{history[date][name]['value']}})</td>
                {%  endfor%}

            </tr>
        {% endfor %}

    </tbody>



</table>
{% endblock %}