{% extends "layout.html" %}

{% block title  %}
        input
{% endblock %}

{% block main %}
<!--calculeasy-->
<div style="display:none;" class="togg">
    <div class="container" style="background-color:rgb(250,250,250,0);">
      <span class="row">

          <div class="col-sm" style="font-size:20px;">
              <input id="term1" type="number" min="-9999999999" max="9999999999" value="1" class="easycalc">
          </div>

          <div class="col-sm" style="font-size:20px;">
              <input id="term2" type="number" min="-9999999999" max="9999999999" value="1" class="easycalc">
          </div>

          <div class="col-sm" >
            <div class="btn-group" role="group" aria-label="Basic example">
              <button name="operation" type="button" class="btn btn-secondary" value="plus">+</button>
              <button name="operation" type="button" class="btn btn-secondary" value="minus">-</button>
              <button name="operation" type="button" class="btn btn-secondary" value="multipl">x</button>
                <button name="operation" type="button" class="btn btn-secondary" value="divide">/</button>
            </div>
          </div>

          <div class="col-sm" style="color:white; font-size: 30px; float:right;"> = </div>

          <div class="col-sm" style="color:white; font-size: 30px;">
              <span id="easycalcresult"> 2 </span>
          </div>
      </span>
    </div>
<br>
</div>


<!--for new user-->
{% if (expenses|length == 0)  and (goals|length == 0) and (savings|length == 0)%}

    Add expenses or accounts first
<br>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'add_expenses') }}';">Add new expenses</button>

    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'add_savings') }}';">Add new savings</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'add_goals') }}';">Add new goal</button>

<!--for old user-->
{% else %}

<form action="\" method="POST">
        <div class="form-group">
            <h4>
                Your income
                <input name="salary" type="number" value="5000" min="0.00" max="999999999999.99" step="0.01">

                <input type="image" src="/static/pig_2.png" alt="Submit Form" name="submit" class="button-image" title="Distribute money"/>
            </h4>
            <br><br>

            <div class="container" style="background-color:rgb(250,250,250,0);">
              <div class="row">

                {% if expenses|length != 0 %}
                <div class="col-sm">
                    <h3 style="color:yellow;">Expenses</h3>
                    <table class="table">
                        <tbody>
                          {% for key in expenses %}

                          <tr>
                              <td>{{key}}</td>
                              <td><input name={{key}} type="number" value={{expenses[key]['value']}} min="0" max="999999"></td>
                          </tr>

                        {% endfor %}
                        <tr>
                            <td></td>
                            <td><small>value to pay</small></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if savings|length != 0 %}
                <div class="col-sm">
                    <h3 style="color:yellow;">Savings</h3>
                    <table class="table">
                        <tbody>
                            {% for key in savings %}
                            <tr>
                                <td>

                                    {% if key == user_info['reserve_account'] %}
                                        <a href="#" data-toggle="tooltip" title="Reserve account">☆</a>{{key}}
                                    {% else %}
                                    {{key}}
                                    {% endif %}
                                </td>
                                <td><input name={{key}} type="number" value={{savings[key]['value']}} min="-99999999" max="99999999"></td>
                                <td>
                                    <div class="progress" style="display:inline-block;">
                                      <div class="progress-bar" role="progressbar" aria-valuenow={{savings[key]['progress']}}
                                      aria-valuemin="0" aria-valuemax="100" style={{savings[key]['for_bar']}} >

                                          <a href="#" data-toggle="tooltip" title={{savings[key]['value']}}/{{savings[key]['goal']}} style="color:black;">{{savings[key]['progress']}} %  </a>

                                      </div>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td><small>current value</small></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              {% endif %}

              {% if goals|length != 0 %}

                <div class="col-sm">
                    <h3 style="color:yellow;">Goals</h3>
                    <table class="table">
                        <tbody>
                            {% for key in goals %}
                            <tr>
                                <td> {{key}} </td>
                                <td><input name={{key}} type="number" value={{goals[key]['value']}} min="0" max="99999999"></td>
                                <td>
                                    <div class="progress" style="display:inline-block;">
                                      <div class="progress-bar" role="progressbar" aria-valuenow={{goals[key]['progress']}}
                                      aria-valuemin="0" aria-valuemax="100" style={{goals[key]['for_bar']}} >
                                          <div >
                                              <a href="#" data-toggle="tooltip" title={{goals[key]['value']}}/{{goals[key]['goal']}} style="color:black;">{{goals[key]['progress']}} %_______</a>
                                              </div>
                                      </div>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td><small>current value</small></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              {% endif %}

              </div>
            </div>

        </div>
</form>

<br>
<br>


<!--help-->
<div class="container" style="background-color:rgb(250,250,250);">
    <div class="nav-image" style="float: left;">
        <img src="/static/comment_question.png" class="img-fluid" id="toggle_comment">
    </div>

    <span class="comment" style="display:none; float:left; color:white; padding:5px;">
        <span style="float:left;">  Fill in your income.</span>
        <br>
        <span style="float:left;">  If necessary, change expense value and update saving account values.</span>
        <br>
        <span style="float:left;">When press on pig to distribute money.</span>
    </span>
</div>

{% endif %}



<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

<!--easy calculator-->
    var button = document.getElementsByName("operation");

    for (var i = 0; i < button.length; i++)
    {
        button[i].addEventListener("click", function()
        {
            var term1 = 1 * document.getElementById("term1").value ;
            var term2 = 1 * document.getElementById("term2").value ;

             if ( this.value == 'plus')
             { document.querySelector('#easycalcresult').innerHTML = term1 + term2; }

             else if ( this.value == 'minus')
             { document.querySelector('#easycalcresult').innerHTML = term1 - term2; }

             else if ( this.value == 'multipl')
             { document.querySelector('#easycalcresult').innerHTML = term1 * term2; }

             else if ( this.value == 'divide')
             { document.querySelector('#easycalcresult').innerHTML = term1 / term2; }
        })
    }



<!--to show hided-->
    $(document).ready(function()
    {
      $("#toggle").click(function()
      {
        $(".togg").toggle();
      });

    $("#toggle_comment").click(function()
      {
        $(".comment").toggle();
      });

    });
</script>


{% endblock %}