{% extends "layout.html" %}

{% block title  %}
        input
{% endblock %}

{% block main %}

calculeasy <button id="toggle" title="Press to see all tickers.">▾</button>

<table class="table">
    <tbody>
    <tr style="display:none;" class="togg">
        <td><input id="term1" type="number" min="-9999999999" max="9999999999" value="1" class="easycalc"></td>

        <td><input id="term2" type="number" min="-9999999999" max="9999999999" value="1" class="easycalc"></td>

        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button name="operation" type="button" class="btn btn-secondary" value="plus">+</button>
              <button name="operation" type="button" class="btn btn-secondary" value="minus">-</button>
              <button name="operation" type="button" class="btn btn-secondary" value="multipl">x</button>
            </div>
        </td>
        <td> = <span id="easycalcresult">2</span></td>
    </tr>
    </tbody>

</table>

<!--for new user-->
{% if (expenses|length == 0)  and (goals|length == 0) and (savings|length == 0)%}

    Add expenses or accounts first
<br>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'add_expenses') }}';">Add new expenses</button>

    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'add_savings') }}';">Add new savings</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'add_goals') }}';">Add new goal</button>

{% else %}
<h6>Fill in your salary and if necessary, update saving account values</h6>

<form action="\" method="POST">
        <div class="form-group">

            <br>
            Your income
            <input name="salary" type="number" value="5000" min="0" max="999999999999" >
            <input name="submit" type="submit" value="Calculate">

            <br><br>


            <div class="container" style="background-color:rgb(250,250,250);">
              <div class="row">

                {% if expenses|length != 0 %}
                <div class="col-sm">
                    <h5>expenses</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>name</td>
                                <td>sum to pay</td>
                            </tr>
                        </thead>

                        <tbody>
                          {% for key in expenses %}
                          <tr>
                              <td>{{key}}</td>
                              <td><input name={{key}} type="number" value={{expenses[key]['value']}} min="0" max="999999"></td>
                          </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if savings|length != 0 %}
                <div class="col-sm">
                    <h5>saving accounts:</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>name</td>
                                <!--<td>percent to pay</td>-->
                                <td>current value</td>
                                <td>progress</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in savings %}
                            <tr>
                                <td>
                                    {{key}}
                                    {% if key == user_info['reserve_account'] %}
                                        <a href="#" data-toggle="tooltip" title="Reserve account">☆</a>
                                    {% endif %}
                                </td>
                                <!--<td>{{savings[key]['percent']}} %</td>-->
                                <td><input name={{key}} type="number" value={{savings[key]['value']}} min="-99999999" max="99999999"></td>
                                <td>
                                    <div class="progress" style="display:inline-block;">
                                      <div class="progress-bar" role="progressbar" aria-valuenow={{savings[key]['progress']}}
                                      aria-valuemin="0" aria-valuemax="100" style={{savings[key]['for_bar']}} >
                                          <div >
                                              <a href="#" data-toggle="tooltip" title={{savings[key]['value']}}/{{savings[key]['goal']}} style="color:black;">{{savings[key]['progress']}} %_______</a>
                                              </div>
                                      </div>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
              {% endif %}

              {% if goals|length != 0 %}

                <div class="col-sm">
                    <h5>goals</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>name</td>
                                <!--<td>to pay</td>-->
                                <td>current value</td>
                                <td>progress</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in goals %}
                            <tr>
                                <td> {{key}} </td>
                                <!--<td>{{goals[key]['to_pay']}} </td>-->
                                <td><input name={{key}} type="number" value={{goals[key]['value']}} min="0" max="99999999"></td>
                                <td>
                                    <div class="progress" style="display:inline-block;">
                                      <div class="progress-bar" role="progressbar" aria-valuenow={{goals[key]['progress']}}
                                      aria-valuemin="0" aria-valuemax="100" style={{goals[key]['for_bar']}} >
                                          <div >
                                              <a href="#" data-toggle="tooltip" title={{goals[key]['value']}}/{{goals[key]['goal']}} style="color:black;">{{goals[key]['progress']}} %_______</a>
                                              </div>
                                      </div>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
              {% endif %}

              </div>
            </div>

        </div>
</form>


{% endif %}


<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

<!--easy calculator-->
    var button = document.getElementsByName("operation");

    for (var i = 0; i < button.length; i++)
    {
        button[i].addEventListener("click", function()
        {
            var term1 = 1 * document.getElementById("term1").value ;
            var term2 = 1 * document.getElementById("term2").value ;

             if ( this.value == 'plus')
             { document.querySelector('#easycalcresult').innerHTML = term1 + term2; }

             else if ( this.value == 'minus')
             { document.querySelector('#easycalcresult').innerHTML = term1 - term2; }

             else if ( this.value == 'multipl')
             { document.querySelector('#easycalcresult').innerHTML = term1 * term2; }
        })
    }



<!--to show hided-->
    $(document).ready(function()
    {
      $("#toggle").click(function()
      {
        $(".togg").toggle();
      });

    });
</script>


{% endblock %}