{% extends "layout.html" %}

{% block title  %}
        input
{% endblock %}

{% block main %}


<!--help-->
<div class="comment" style="display:none; ">
    <div class="container" style="background-color:rgb(250,250,250,0);">
      <div class="row">
         <div class="col-md-1">
            <div class="nav-image" style="float: left;">
            <img src="/static/comment_question.png" class="img-fluid-help-small">
            </div>
         </div>

          <div class="col-md-11">
            <span style="padding:5px;">
                <p>Fill in your income.</p>
                <p>If necessary, change expense value and update saving account values.</p>
                <p>When press on pig to distribute money.</p>
            </span>
          </div>
      </div>
    </div>
</div>
<br>


<!--for new user-->
{% if (expenses|length == 0)  and (goals|length == 0) and (savings|length == 0)%}

<h4 style="color:yellow;">Add at least one account</h4>
<br>


    <div class="container" style="background-color:rgb(250,250,250,0); border:none;">
      <div class="row">

        <div class="col-sm">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'add_expenses') }}';"><img src="/static/add_yellow.png" class="button-add"/>Add new expenses</button>

            <p style="color:white;">predictable life expenses</p>
            <br>
            <p style="color:white; float:left; text-align:justify;">fixed sum you pay every month</p>
            <p style="color:white; float:left; text-align:justify;">e.g. apartment rent</p>
        </div>

          <div class="col-sm">
              <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'add_savings') }}';"><img src="/static/add_yellow.png" class="button-add"/>Add new savings</button>

              <p style="color:white;">your saving accounts</p>
              <br>
              <p style="color:white; float:left; text-align:justify;">value has upper limit (goal)</p>
              <p style="color:white; float:left; text-align:justify;">refilled monthly by fixed fraction of salary</p>
              <p style="color:white; float:left; text-align:justify;">e.g. savings for job loss</p>
              </p>
          </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for( 'add_goals') }}';"><img src="/static/add_yellow.png" class="button-add"/>Add new goal</button>

            <p style="color:white;">to save up for some goals</p>
            <br>
            <p style="color:white; float:left; text-align:justify;">value has upper limit (goal)</p>
            <p style="color:white; float:left; text-align:justify;">has deadline</p>
            <p style="color:white; float:left; text-align:justify;">monthly payment is based on missed sum and deadline</p>
            <p style="color:white; float:left; text-align:justify;">e.g. save for a vacation</p>
        </div>
      </div>
    </div>

<br><br>
<a class="nav-link" href="/help" style="color:white;">
    <div class="nav-image" >
        <img src="/static/about_empty.png" class="img-fluid-about-footer">
        Read here more about money distribution between these accounts.
    </div>
</a>




<span style="float:left; text-align:justify; color:yellow; font-size:20px;" id="section4">
    <br><br>
    Example of usage
</span>

<p style="float:left; color:white;text-align:justify;">
    Peter just started to use EasyBreezy. He creates two expenses accounts. The first one is for the rent, which amounts for 30 rubles.
    The second one is his monthly allowance, which he estimates as 40 rubles.
</p>



<p style="float:left; color:white;text-align:justify;">
    As Peter wants to die rich, he sets up a saving account for retirement, planning to save up 7% of his income.
    He uses another saving account for emergency fund, fearing he does not get paid next month.
    Peter puts 8% of his income to this account, hoping to amass at least 140 rubles.
    This sum would allow him to live without salary for 2 months.
</p>


<p style="float:left; color:white;text-align:justify;">
    He also creates a goal account, planning to spend 120 rubles in 1 year for summer vacation.
</p>


<p style="float:left; color:white;text-align:justify;">
    Next day Peter gets his payment. He works two jobs with salaries of 40 and 60 rubles.
    Thus, his income is 100 rubles.
    EasyBreezy calculates that he must pay 30 and 40 rubles to his expenses accounts, 7 and 8 rubles to his saving account (7% and 8% of 100 rubles income) and 10 rubles for his goal account (120 rubles spread over 12 months).
</p>

<p style="float:left; color:white;text-align:justify;">
    For the residual 5 rubles Peter buys Happy Meal to feel better for himself.
</p>


<p style="float:left; color:white;text-align:justify;">
    <br><br>
    This is how Petr's money distribution looks like in easybreezy:
</p>


<div class="main img">

    <img src="/static/Petr_example.png">
</div>


<!--for old user-->
{% else %}
<form action="\" method="POST">
        <div class="form-group">
            <h4>
                Your income
                <input name="salary" type="number" value="0" min="0.00" max="999999999999.99" step="0.01">

                <input type="image" src="/static/pig_2.png" alt="Submit Form" name="submit" class="button-image" title="Distribute money"/>
            </h4>
            <br><br>

            <div class="container" style="background-color:rgb(250,250,250,0); border:none;">
              <div class="row">

                {% if expenses|length != 0 %}
                <div class="col-sm">
                    <h3 style="color:yellow;">Expenses</h3>
                    <table class="table-no-border">
                        <tbody>
                          {% for key in expenses %}

                          <tr>
                              <td>{{key}}</td>
                              <td><input name={{key}} type="number" value={{expenses[key]['value']}} min="0" max="999999" step="0.01"></td>
                          </tr>

                        {% endfor %}
                        <tr>
                            <td></td>
                            <td><small>value to pay</small></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if savings|length != 0 %}
                <div class="col-sm">
                    <h3 style="color:yellow;">Savings</h3>
                    <table class="table-no-border">
                        <tbody>
                            {% for key in savings %}
                            <tr>
                                <td>

                                    {% if key == user_info['reserve_account'] %}
                                        <a href="#" data-toggle="tooltip" title="Reserve account">☆</a>{{key}}
                                    {% else %}
                                    {{key}}
                                    {% endif %}
                                </td>
                                <td><input name={{key}} type="number" value={{savings[key]['value']}} step="0.01" min="-99999999" max="99999999"></td>
                                <td>
                                    <div class="progress" style="display:inline-block;">
                                      <div class="progress-bar" role="progressbar" aria-valuenow={{savings[key]['progress']}}
                                      aria-valuemin="0" aria-valuemax="100" style={{savings[key]['for_bar']}} >

                                          <a href="#" data-toggle="tooltip" title={{savings[key]['value']}}/{{savings[key]['goal']}} style="color:black;">{{savings[key]['progress']}} %  </a>

                                      </div>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td><small>current value</small></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              {% endif %}

              {% if goals|length != 0 %}

                <div class="col-sm">
                    <h3 style="color:yellow;">Goals</h3>
                    <table class="table-no-border">
                        <tbody>
                            {% for key in goals %}
                            <tr>
                                <td> {{key}} </td>
                                <td><input name={{key}} type="number" value={{goals[key]['value']}} step="0.01" min="0" max="99999999"></td>
                                <td>
                                    <div class="progress" style="display:inline-block;">
                                      <div class="progress-bar" role="progressbar" aria-valuenow={{goals[key]['progress']}}
                                      aria-valuemin="0" aria-valuemax="100" style={{goals[key]['for_bar']}} >
                                          <div >
                                              <a href="#" data-toggle="tooltip" title={{goals[key]['value']}}/{{goals[key]['goal']}} style="color:black;">{{goals[key]['progress']}} %_______</a>
                                              </div>
                                      </div>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td><small>current value</small></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              {% endif %}

              </div>
            </div>

        </div>
</form>

<br>
<br>


{% endif %}



<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

<!--easy calculator-->
    var button = document.getElementsByName("operation");

    for (var i = 0; i < button.length; i++)
    {
        button[i].addEventListener("click", function()
        {
            var term1 = 1 * document.getElementById("term1").value ;
            var term2 = 1 * document.getElementById("term2").value ;

             if ( this.value == 'plus')
             { document.querySelector('#easycalcresult').innerHTML = (term1 + term2).toFixed(2) ; }

             else if ( this.value == 'minus')
             { document.querySelector('#easycalcresult').innerHTML = (term1 - term2).toFixed(2); }

             else if ( this.value == 'multipl')
             { document.querySelector('#easycalcresult').innerHTML = (term1 * term2).toFixed(2); }

             else if ( this.value == 'divide')
             { document.querySelector('#easycalcresult').innerHTML = (term1 / term2).toFixed(2); }
        })
    }



<!--to show hided-->
    $(document).ready(function()
    {
      $("#toggle").click(function()
      {
        $(".togg").toggle();
      });

    $("#toggle_help").click(function()
      {
        $(".comment").toggle();
      });

    });
</script>


{% endblock %}