<!DOCTYPE html>
<html lang="en">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <!-- Do something with the message -->
            {{ message }}

        {% endfor %}
    {% endif %}
{% endwith %}


<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

     <!--for pie chart-->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

     <!--https://favicon.io-->
    <link href="/static/favicon.ico" rel="icon">

    <!--for font-->
<!--<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap" rel="stylesheet">-->
<!--<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,300&display=swap" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap" rel="stylesheet">

    <!--for social network icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>{% block title %}{% endblock %}</title>

</head>
<body>

    <nav class="navbar navbar-expand-md transparent" >

        <a class="navbar-brand" href="/" style="display:inline-block;">
          <div class="logo-image">
                <img src="/static/logo_7.png" class="img-fluid">
          </div>
        </a>

        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-light navbar-default" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto mt-2">

                <li class="nav-item">
                    <div class="nav-image">
                        <a href="#" data-toggle="tooltip" title="Calculeasy">
                            <img src="/static/calc.png" class="img-fluid-calc" id="toggle" >
                        </a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/history" title="History">
                        <div class="nav-image">

                            <img src="/static/history_9.png" class="img-fluid">

                        </div>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/help">
                    <div class="nav-image">
                        <img src="/static/about_3.png" class="img-fluid-about">
                    </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/settings">
                      <div class="nav-image">
                            <img src="/static/settings_5.png" class="img-fluid">
                      </div>
                    </a>
                </li>


            </ul>

        </div>
    </nav>


    <main class="container p-5">
        {% block main %}{% endblock %}
    </main>

    <footer class="text-center text-muted semi-transparent" >
    <div class="container">
        <div class="row">
          <div class="col-md-1">
              2020

          </div>

          <div class="col-md-8">
              Made by Daria
          </div>

          <div class="col-md-1">
              <h3>
                <a href="https://www.linkedin.com/in/daria-andronikova/"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
              </h3>
          </div>
            <div class="col-md-1">
                <h3>
                    <a href="https://github.com/andronikova"> <span class="fa fa-github"></span></a>
                </h3>
          </div>
            <div class="col-md-1">
          </div>



    </footer>
</body>
</html>