{% extends "layout.html" %}

{% block title  %}
        output
{% endblock %}

{% block main %}

calceasy <button id="toggle" title="Press to see all tickers.">▾</button>

<table class="table">
    <tbody>
    <tr style="display:none;" class="togg">
        <td><input id="term1" type="number" min="-9999999999" max="9999999999" value="1" class="easycalc"></td>

        <td><input id="term2" type="number" min="-9999999999" max="9999999999" value="1" class="easycalc"></td>

        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button name="operation" type="button" class="btn btn-secondary" value="plus">+</button>
              <button name="operation" type="button" class="btn btn-secondary" value="minus">-</button>
              <button name="operation" type="button" class="btn btn-secondary" value="multipl">x</button>
            </div>
        </td>
        <td> = <span id="easycalcresult">2</span></td>
    </tr>
    </tbody>

</table>



<form action="\output" method="POST">
<div class="form-group">



    <h6> Remains: <span id="remain">  {{remain}}  </span>
        <input name="recalculate" id="recalculate" type="button" value="Check" class="btn btn-primary" >
        <input name="save" id="save" type="submit" value="Save results" disabled title="To save result in history. Disabled until remain is not null.">
    </h6>

    <br>

    Your income
    <input name="salary" type="number" min="0" max="999999999999" value={{salary}}>


    <div class="container">
          <div class="row">

            <div class="col-sm">
                <h5>expenses</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <td>name</td>
                            <td>to pay</td>
                        </tr>
                    </thead>

                    <tbody>
                      {% for key in expenses %}
                      <tr>
                          <td>{{key}}</td>
                        <td><input name={{key}} type="number" value={{expenses[key]['value']}} min="0" max="999999" class="to_pay"></td>
                      </tr>
                    {% endfor %}

                    </tbody>
                </table>


            </div>

            <div class="col-sm">
                <h5>saving accounts:</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <td>name</td>
                            <td>to pay</td>
                            <td></td>
                            <td>value</td>
                            <td>progress</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in savings %}
                        <tr>
                            <td>
                                {{key}}
                                {% if key == user_info['reserve_account'] %}
                                    <a href="#" data-toggle="tooltip" title="Reserve account">☆</a>
                                {% endif %}
                            </td>
                            <td><input name={{key}} type="number" value={{savings[key]['to_pay']}} min="0" max="999999" class="to_pay"></td>
                            <td>{{savings[key]['percent']}} %</td>
                            <td>{{savings[key]['value']}}</td>
                            <td>
                                <div class="progress" style="display:inline-block;">
                                  <div class="progress-bar" role="progressbar" aria-valuenow={{savings[key]['progress']}}
                                  aria-valuemin="0" aria-valuemax="100" style={{savings[key]['for_bar']}} >
                                      <div >
                                          <a href="#" data-toggle="tooltip" title={{savings[key]['value']}}/{{savings[key]['goal']}} style="color:black;">{{savings[key]['progress']}} %_______</a>
                                          </div>
                                  </div>
                                </div>
                            </td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
          </div>
    </div>


</div>
</form>


<h6>{{message}}</h6>

<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

<!--check remains-->
    document.getElementById("recalculate").addEventListener("click", function()
    {

        var to_pay = document.querySelectorAll("input.to_pay");

        var sum_pay = 0;
        for (var i = 0; i < to_pay.length; i++)
        {
            sum_pay += 1 * to_pay[i].value;
        }

        var income = document.getElementsByName("salary")[0].value;
        var remain = income - sum_pay
        document.querySelector('#remain').innerHTML = remain   ;

        if (remain == 0)
        {
            document.querySelector('#save').disabled = false;
        }
        else
        {
            document.querySelector('#save').disabled = true;
        }
    })

<!--easy calculator-->
    var button = document.getElementsByName("operation");

    for (var i = 0; i < button.length; i++)
    {
        button[i].addEventListener("click", function()
        {
            var term1 = 1 * document.getElementById("term1").value ;
            var term2 = 1 * document.getElementById("term2").value ;

             if ( this.value == 'plus')
             { document.querySelector('#easycalcresult').innerHTML = term1 + term2; }

             else if ( this.value == 'minus')
             { document.querySelector('#easycalcresult').innerHTML = term1 - term2; }

             else if ( this.value == 'multipl')
             { document.querySelector('#easycalcresult').innerHTML = term1 * term2; }
        })
    }

<!--to show hided-->

    $(document).ready(function()
    {
      $("#toggle").click(function()
      {
        $(".togg").toggle();
      });

    });

</script>




{% endblock %}