{% extends "layout.html" %}

{% block title  %}
        output
{% endblock %}

{% block main %}


<!--help-->
<div class="comment" style="display:none; ">
    <div class="container" style="background-color:rgb(250,250,250,0);">
      <div class="row">
         <div class="col-md-1">
            <div class="nav-image" style="float: left;">
            <img src="/static/comment_question.png" class="img-fluid-help-small">
            </div>
         </div>

          <div class="col-md-11">
            <span style="padding:5px;">
                <p> Check that you have zero remains.  </p>
                <p>  You can redistribute money as you wish. TO check remains press on pig.</p>
                <p > If you want to save results - press on floppy. You can save history only with zero remain. </p>
            </span>
          </div>
      </div>
    </div>
</div>
<br>


<form action="\output" method="POST">
<div class="form-group">

    <div class="container" >
        <div class="row">
            <div class="col-sm" >
                <div class="row">
                    <button type="button" name="recalculate" id="recalculate" title="Check remains" class="button-image-pig-refresh"  >
                        <img src="/static/pig_refresh_2_1.png" />
                    </button>

                    <span >
                        <h4 style="color:gray; ">Remains:</h4>
                        <span id="remain" style="color:white; font-size: 20px; ">
                            {{"{:,.2f}".format(remain).replace(",", " ")}}
                        </span>
                    </span>
                </div>

            </div>


            <div class="col-sm">
                <div class="row">
                    <div class="col-sm" >
                    <input type="image" src="/static/save_1.png" alt="Submit Form" name="save" id="save" style="float:right; width:120px;" class="button-image" disabled title="Save to history" />
                    <h6 id="message_for_save" style="float:right; display:none;">Disabled with not zero remain </h6>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm" >
                    <span style="float:right;">
                        <h5 >Income
                            <input name="salary" type="number" min="0" max="999999999999" value={{salary}}>
                        </h5>
                    </span>
                    </div>
                </div>

            </div>


        </div>
        <br>


    </div>



    <div class="container">
        <div class="row">

        </div>

        <br>

          <div class="row">

          {% if expenses|length != 0 %}
            <div class="col-sm">
                <h3 style="color:yellow;">Expenses</h3>
                <table class="table-no-border">

                    <tbody>
                      {% for key in expenses %}
                      <tr>
                          <td>{{key}}</td>
                        <td><input name={{key}} type="number" value={{expenses[key]['value']}} min="0" max="999999" step="0.01" class="to_pay"></td>
                      </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td style="color:black;">to pay</td>
                    </tr>
                    </tbody>
                </table>
            </div>
          {% endif %}

          {% if savings|length != 0 %}
            <div class="col-sm">
                <h3 style="color:yellow;">Savings</h3>
                <table class="table-no-border">
                    <tbody>
                        {% for key in savings %}
                        <tr>
                            <td>
                                {% if key == user_info['reserve_account'] %}
                                    <a href="#" data-toggle="tooltip" title="Reserve account">☆</a>{{key}}
                                {% else %}
                                    {{key}}
                                {% endif %}
                            </td>
                            <td><input name={{key}} type="number" value={{savings[key]['to_pay']}} min="0" max="999999" step="0.01" class="to_pay"></td>
                            <td>{{savings[key]['percent']}}%</td>
                            <td>
                                <div class="progress" style="display:inline-block;">
                                  <div class="progress-bar" role="progressbar" aria-valuenow={{savings[key]['progress']}}
                                  aria-valuemin="0" aria-valuemax="100" style={{savings[key]['for_bar']}} >
                                      <div >
                                          <a href="#" data-toggle="tooltip" title={{savings[key]['value']}}/{{savings[key]['goal']}} style="color:black;">{{savings[key]['progress']}} %_______</a>
                                          </div>
                                  </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td></td>
                            <td style="color:black;">to pay</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
          {% endif %}

            {% if goals|length != 0 %}
            <div class="col-sm">
                <h3 style="color:yellow;">Goals</h3>
                <table class="table-no-border">
                    <tbody>
                        {% for key in goals %}
                        <tr>
                            <td>{{key}}</td>
                        <td><input name={{key}} type="number" value={{goals[key]['to_pay']}} min="0" max="999999" step="0.01" class="to_pay"></td>
                        <td>
                            <div class="progress" style="display:inline-block;">
                              <div class="progress-bar" role="progressbar" aria-valuenow={{goals[key]['progress']}}
                              aria-valuemin="0" aria-valuemax="100" style={{goals[key]['for_bar']}} >
                                  <div >
                                      <a href="#" data-toggle="tooltip" title={{goals[key]['value']}}/{{goals[key]['goal']}} style="color:black;">{{goals[key]['progress']}} %_______</a>
                                      </div>
                              </div>
                            </div>
                        </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td style="color:black;">to pay</td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
          {% endif %}
          </div>
    </div>


</div>
</form>

<br><br>
<!--meassge about distribution success-->
<div ">
    <div class="container" style="background-color:rgb(250,250,250,0);">
      <p class="row">
         <div class="col-md-1">
            <div class="nav-image" style="float: left;">
            <img src="/static/comment_black.png" class="img-fluid-help-small">
            </div>
         </div>

          <div class="col-md-11">
            <span style="padding:5px;">
                {{message}}
            </span>
          </div>
      </span>
    </div>
</div>



<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

<!--check remains-->
    document.getElementById("recalculate").addEventListener("click", function()
    {
        var message = document.querySelector('#message_for_save').innerHTML;

        var to_pay = document.querySelectorAll("input.to_pay");

        var sum_pay = 0;
        for (var i = 0; i < to_pay.length; i++)
        {
            sum_pay += 1 * to_pay[i].value;
        }

        var income = document.getElementsByName("salary")[0].value;
        var remain = income - sum_pay
        document.querySelector('#remain').innerHTML = remain.toFixed(2);

        if (remain == 0)
        {
            document.querySelector('#save').disabled = false;
            document.querySelector('#message_for_save').innerHTML = '';
        }
        else
        {
            document.querySelector('#save').disabled = true;
            document.querySelector('#message_for_save').innerHTML = message;
        }
    })

<!--easy calculator-->
    var button = document.getElementsByName("operation");

    for (var i = 0; i < button.length; i++)
    {
        button[i].addEventListener("click", function()
        {
            var term1 = 1 * document.getElementById("term1").value ;
            var term2 = 1 * document.getElementById("term2").value ;

             if ( this.value == 'plus')
             { document.querySelector('#easycalcresult').innerHTML = (term1 + term2).toFixed(2); }

             else if ( this.value == 'minus')
             { document.querySelector('#easycalcresult').innerHTML = (term1 - term2).toFixed(2); }

             else if ( this.value == 'multipl')
             { document.querySelector('#easycalcresult').innerHTML = (term1 * term2).toFixed(2); }

             else if ( this.value == 'divide')
             { document.querySelector('#easycalcresult').innerHTML = (term1 / term2).toFixed(2); }
        })
    }

<!--to show hided-->

    $(document).ready(function()
    {
      $("#toggle").click(function()
      {
        $(".togg").toggle();
      });

      $("#toggle_help").click(function()
      {
        $(".comment").toggle();
      });

    });

</script>




{% endblock %}