{% extends "layout_empty.html" %}

{% block title  %}
        index

{% endblock %}



{% block main %}
<style>
body {
   background-image: url("/static/bckg_star_web.gif") !important;
   background-position: center;
}
</style>


<br>

<br>
<br>

<button type="button" class="btn btn-primary-welcome" onclick="window.location.href='{{ url_for( 'login') }}';">Log in</button>

<button type="button" class="btn btn-primary-welcome" onclick="window.location.href='{{ url_for( 'registration') }}';">Register</button>


{% endblock %}